---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

$bgr-color: #F9F9F9;

// Some Style Variables
$banner-sold: #FF4136;
$banner-sold-dark: darken($banner-sold, 25%);
$banner-new: #2ECC40;
$banner-new-dark: darken($banner-new, 25%);
$dark-gray: #333;
$light-gray: lighten($dark-gray, 10%);
$super-light-gray: lighten($light-gray, 20%);

$max-width: 960px;

// Breakpoints. Use these in your media queries.
$babybear: 321px;
$mamabear: 769px;
$papabear: 1140px;
$monsterbear: 1300px;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;

}

body{
	margin: 0;
	background-color: $bgr-color;
	padding-bottom: 40px;
}

	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
			background-color: $bgr-color;
			color: $super-light-gray;
	}

.navbar-default .navbar-brand {
	/*color: rgb(55, 85, 99)*/
	color: $light-gray;


	&:hover{
		color: $super-light-gray;
	}
}

.navbar-brand {
	font-size: 32px;
	font-family: "Pacifico";

}

.navbar {
	background-color: transparent;
	border: none;
	width: 80%;
	margin: 10px auto;

	@media screen and (max-width: 520px) {
		width: 100%;
	}


	.nav {
		font-size: 14px;
		text-transform: uppercase;
	}
}

.navbar-default {
	padding-bottom: 10px;
	.navbar-nav {
		li a {
			color: #484848;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.footer,
.footer .container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.back-to-top {
	background: none;	 
	margin: 0;
	padding: 0;
	float: right;
	width: 70px;
	height: 70px;
	z-index: 100;
	display: none;
	color: black;
	font-size: 30px;

	@media screen and (max-width: 520px) {
		text-align: right;
		padding-right: 15px;
	}

}

 
#cover-photo {
	width: 90%;
	border: 15px solid white;
	display: block;
	margin: 0 auto;
	box-shadow: 8px 8px 10px grey;

	@media screen and (max-width: 520px) {
		width: 100%;
	}
}


#buy-text {
	text-align: center;
	width: 75%;

	@media screen and (max-width: 520px) {
			width: 100%;
		}
}

.buy-img {
	text-align: center;
	padding-top: 60px;

	img {
		width: 350px;
		margin: 10px;
		border: 10px solid white;
	}
	@media screen and (max-width: 520px) {
		text-align: left;
		position: absolute;
		left:0;
	}
}

.about-wrap {
	width: 90%;
	padding-top: 40px;

	@media screen and (max-width: 520px) {
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

.work {
	margin-top: 80px;
	width: 100%;

	p {
		font-size: 20px;
	}

	@media screen and (max-width: 520px) {
		padding: 3px 0;
		margin-top: 30px;

		p {
			font-size: 16px;
		}
	}
}

.exhibits-container {
	display: block;
	padding-top: 60px;
}

.exhibits {
	margin-top: 30px;
	width: 100%;
	p {
		font-size: 20px;
	}

	@media screen and (max-width: 520px) {
		padding: 3px 0;
		margin-top: 40px;

		p {
			font-size: 16px;
		}
	}
}

.carousel {
	border: 10px solid white;
	width: 75%;
	margin: 0 auto;

	.carousel-inner {
		.item {
				max-height: 600px;
		}
	}

	@media screen and (max-width: 520px) {
		width: 100%;
		.carousel-inner {
			.item {
					max-height: 340px;
			}
		}
	}
}

	#about-text {
		text-align: justify;
	}

	.img-wrap {
		margin-top: 60px;

		@media screen and (max-width: 520px) {
			margin-top: 20px;
		}

	#about-pic {	
		width: 110%;
		display: block;
		margin-top: 50px;
		margin-left: 100px;
		opacity: 0.75;
		border-radius: 100%;

		@media screen and (max-width: 520px) {
			margin: 0 auto;
			width: 60%;
		}
	}
}

#buy-text, 
#about-text {
	font-size: 18px;
	display: block;
	margin: 0 auto;
	margin-top: 140px;
	line-height: 1.5;

		a {
			text-decoration: none;
		}

	@media screen and (max-width: 520px) {
		padding: 0;
		margin: 0;
		margin-top: 20px;
		text-align: justify;
		text-align: justify;
	}
	.insta {
			font-size: 16px;

		}
}


.portfolio {
	padding-top: 50px;
	padding-left: 100px;

	@media screen and (max-width: 720px) {
					padding-left: 50px;
				}
	@media screen and (max-width: 520px) {
					padding-left: 15px;
					padding-top: 40px;
				}
}


.media-left {
	position: relative;

  	.media-object {
			box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  		-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);

  		width: 500px;
  			
				@media screen and (max-width: 520px) {
  				width: 380px;
  			}

  			@media screen and (max-width: 420px) {
  				width: 300px;
  			}

  			@media screen and (max-width: 320px) {
  				width: 200px;
  			}
  	}

}

.ribbon-container {
  position: absolute;
  top: 15px;
  right: -20px;
  overflow: visible;  
  font-size: 16px;  
  line-height: 16px;
}

.ribbon-container:after {
  /*shadow*/
  content: "";
  height: 3px;
  background: rgba(0, 0, 0, .3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 40px;
  right: 3px;
}

.ribbon-container span {
  display: block;
  padding: 17px 30px 34px 30px;
  position: relative;  
  overflow: visible;
  height: 40px;
  margin-left: 32px;
  color: #fff;
  text-decoration: none;
}

#ribbon-sold {
	background: $banner-sold;
}

#ribbon-new {
	background: $banner-new;
}

.ribbon-container span:after {  
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 0;
  border-right: 15px solid transparent;
}

.ribbon-container #ribbon-sold:after {
  border-top: 15px solid $banner-sold-dark;

}

.ribbon-container #ribbon-new:after {
  border-top: 15px solid $banner-new-dark;

}

.media-body {
	padding-left: 40px;
	padding-bottom: 10px;

	.media-heading {
		@media screen and (max-width: 520px) {
			padding-top: 5px;
			font-size: 1.2em;
		}
	}

	@media screen and (max-width: 520px) {
		display: block;
		padding-left: 0;
	}
}



