<nav class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="container">
  	<a href="#"><span class="glyphicon glyphicon-menu-up back-to-top" style="display:none;" aria-hidden="true"></span></a>
  </div>
</nav>

<!-- Loading in some scripts here -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">

	$(document).ready(function() {
		var offset = 250;
		var duration = 300;
		$(window).scroll(function() {
			if ($(this).scrollTop() > offset) {
				$('.back-to-top').fadeIn(duration);

			} else {
				$('.back-to-top').fadeOut(duration);
			}
		});

		$('.back-to-top').click(function(event) {
			event.preventDefault();
			$('html, body').animate({scrollTop: 0}, duration);
			return false;
		})

	$(function(){
	    var current = location.pathname;
	    console.log(current);
	    if(current=="/buy.html") {
	    	$("#buy").addClass("active");
	    }
	    if(current=="/about.html") {
	    	$("#about").addClass("active");
	    }
	    if(current=="/exhibitions.html") {
	    	$("#exhibits").addClass("active");
	    }
	    if(current=="/portfolio_animals.html" || current=="/portfolio_people.html"  || current=="/portfolio_nature.html" || current=="/portfolio_popart.html") {
	    	$("#art").addClass("active");
	    }
	});

});

</script>
<script src="js/templating.js"></script>
<script id="exhibit-carousel-img" type="text/x-handlebars-template">
    {% raw %}

      <div class="item active">
        <img src="img/exhibits/50.jpg">
      </div>

      {{#times 49}}
        <div class="item">
          <img src="img/exhibits/{{ this }}.jpg">
        </div>
      {{/times}}

    {% endraw %}
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73217324-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
